(
    graph: (
        nodes: {
            9: (
                template: PyNode((
                    name: "shepp_logan",
                    py_path: "foray_example.foray.shepp_logan",
                    config: Ok((
                        inputs: Ok({}),
                        outputs: Ok({
                            "out": Array(Complex, [None, None]),
                        }),
                        parameters: Ok({
                            "image_size": NumberField(256.0),
                        }),
                    )),
                )),
                parameters_values: {
                    "image_size": Float(256.0),
                },
                visualization: None,
            ),
            10: (
                template: PyNode((
                    name: "fft",
                    py_path: "foray_example.foray.fft",
                    config: Ok((
                        inputs: Ok({
                            "a": Array(Complex, [None, None]),
                        }),
                        outputs: Ok({
                            "out": Array(Complex, [None, None]),
                        }),
                        parameters: Ok({}),
                    )),
                )),
                parameters_values: {},
                visualization: None,
            ),
            11: (
                template: PyNode((
                    name: "multiply",
                    py_path: "foray_example.foray.multiply",
                    config: Ok((
                        inputs: Ok({
                            "a": Array(Complex, [None, None]),
                            "b": Array(Complex, [None, None]),
                        }),
                        outputs: Ok({
                            "out": Array(Complex, [None, None]),
                        }),
                        parameters: Ok({}),
                    )),
                )),
                parameters_values: {},
                visualization: None,
            ),
            12: (
                template: PyNode((
                    name: "circle_mask",
                    py_path: "foray_example.foray.circle_mask",
                    config: Ok((
                        inputs: Ok({}),
                        outputs: Ok({
                            "out": Array(Float, [None, None]),
                        }),
                        parameters: Ok({
                            "image_size": NumberField(256.0),
                            "radius": Slider(0.0, 256.0, 1.0),
                        }),
                    )),
                )),
                parameters_values: {
                    "image_size": Float(256.0),
                    "radius": Float(14.8),
                },
                visualization: None,
            ),
            13: (
                template: PyNode((
                    name: "ifft",
                    py_path: "foray_example.foray.ifft",
                    config: Ok((
                        inputs: Ok({
                            "a": Array(Complex, [None, None]),
                        }),
                        outputs: Ok({
                            "out": Array(Complex, [None, None]),
                        }),
                        parameters: Ok({}),
                    )),
                )),
                parameters_values: {},
                visualization: None,
            ),
            15: (
                template: RustNode(Display),
                parameters_values: {},
                visualization: Some(NDimVis((
                    parameters: (
                        ndim_mapping: [(Y, 256), (X, 256)],
                        value_mapping: (
                            floor: 0.0,
                            ceil: 1.0,
                            color_map: Real(Color),
                        ),
                    ),
                ))),
            ),
            16: (
                template: RustNode(Display),
                parameters_values: {},
                visualization: Some(NDimVis((
                    parameters: (
                        ndim_mapping: [(Y, 256), (X, 256)],
                        value_mapping: (
                            floor: 0.000002416663,
                            ceil: 0.85113746,
                            color_map: Complex(Mag(Color)),
                        ),
                    ),
                ))),
            ),
            17: (
                template: RustNode(Display),
                parameters_values: {},
                visualization: Some(NDimVis((
                    parameters: (
                        ndim_mapping: [(Y, 256), (X, 256)],
                        value_mapping: (
                            floor: 0.0,
                            ceil: 1.0,
                            color_map: Complex(Mag(Color)),
                        ),
                    ),
                ))),
            ),
        },
        edges: [((
            node: 9,
            name: "out",
            io: Out,
        ), (
            node: 10,
            name: "a",
            io: In,
        )), ((
            node: 10,
            name: "out",
            io: Out,
        ), (
            node: 11,
            name: "a",
            io: In,
        )), ((
            node: 12,
            name: "out",
            io: Out,
        ), (
            node: 11,
            name: "b",
            io: In,
        )), ((
            node: 12,
            name: "out",
            io: Out,
        ), (
            node: 15,
            name: "in",
            io: In,
        )), ((
            node: 11,
            name: "out",
            io: Out,
        ), (
            node: 13,
            name: "a",
            io: In,
        )), ((
            node: 13,
            name: "out",
            io: Out,
        ), (
            node: 16,
            name: "in",
            io: In,
        )), ((
            node: 9,
            name: "out",
            io: Out,
        ), (
            node: 17,
            name: "in",
            io: In,
        ))],
        next_id: 18,
    ),
    shapes: (
        camera: (
            position: (
                x: 202.3367,
                y: 396.16052,
            ),
            zoom: 1.0,
        ),
        shape_positions: {
            17: (
                x: -23.800018,
                y: 326.16833,
            ),
            15: (
                x: 428.1414,
                y: 358.22302,
            ),
            16: (
                x: 205.47733,
                y: 556.9457,
            ),
            13: (
                x: 262.68353,
                y: 459.0933,
            ),
            10: (
                x: 139.80939,
                y: 220.43784,
            ),
            12: (
                x: 381.22504,
                y: 221.83398,
            ),
            11: (
                x: 237.19373,
                y: 357.54022,
            ),
            9: (
                x: 135.47815,
                y: 119.99879,
            ),
        },
    ),
)