(
    graph: (
        nodes: {
            0: (
                template: PyNode((
                    name: "small_img",
                    py_path: "foray_example.foray.small_img",
                    config: Ok((
                        inputs: Ok({}),
                        outputs: Ok({
                            "out": Array(Float, [None, None]),
                        }),
                        parameters: Ok({}),
                    )),
                )),
                parameters_values: {},
            ),
        },
        edges: [],
        next_id: 1,
    ),
    shapes: (
        camera: (
            position: (
                x: -0.7281189,
                y: 0.7281189,
            ),
            zoom: 1.0,
        ),
        shape_positions: {
            0: (
                x: 189.74689,
                y: 235.53125,
            ),
        },
    ),
)